body {
    margin: 0;
}

header {
    position: relative;
    background-image: url('../images/header-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.header-navbar {
    position: absolute;
    width: 100%;
    bottom: 0;
}