@import '../css/fonts.css';

body {
    font-family: 'BPG Arial', sans-serif;
}

header {
    position: relative;
    background-image: url('../images/header-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/* Header */
.header-navbar {
    position: absolute;
    width: 100%;
    bottom: 0;
    border-bottom: 1px solid #dedede;
}

.navbar {
    padding: .7rem 1rem;
}

.bg-navbar {
    background-color: #f9f9f9;
}

.navbar-nav .nav-item {
    margin-right: 1rem;
}

.nav-link {
    padding: .4rem 1rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .8rem;
    padding-left: .8rem;
}

.navbar-nav .nav-link {
    font-family: 'BPG Banner Caps', sans-serif;
}

.navbar-light .navbar-nav .nav-item>.nav-link {
    color: #606060;
    font-size: 0.9rem;
    font-weight: bolder;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #e4e4e4;
}

.navbar-nav .active {
    background-color: #7000a0;
    border-radius: .2rem;
}

.navbar-nav .nav-item:hover .nav-link,
.navbar-nav .nav-item:focus .nav-link,
.navbar-nav .nav-item:active .nav-link {
    background-color: #7000a0;
    border-radius: .2rem;
    color: #e4e4e4;
    transition: all ease-in-out .4s;
}

/* Section one */
.section-one {
    position: relative;
    background-image: url('../images/section-one-bg.jpg');
    background-position: center right;
    background-size: cover;
    padding: 3rem;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s, box-shadow 0.3s;
}

.section-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
}

.section-one-overlay {
    background-color: #ffffff;
    opacity: 0.75;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.section-one-title {
    font-weight: bolder;
    font-family: 'BPG Banner Caps', sans-serif;
    text-align: center;
}

.section-one-title-last {
    color: #7000a0;
}

.section-one-text {
    text-align: center;
}

.section-one-text::first-letter {
    font-size: 1.25rem;
    font-family: 'BPG Banner Caps', sans-serif;
}

.section-one-box-icon {
    background-color: #383838;
    border-radius: 50%;
    height: 120px;
    width: 120px;
}

.section-one-box-title {
    font-family: 'BPG Banner Caps', sans-serif;
    font-size: 1rem;
    font-weight: bolder;
}

.section-one-box-text {
    font-size: .9rem;
}

/* Section two */
.section-two {
    background-color: #383838;
    padding: 3rem 3rem 0 3rem;
}

.section-two-title {
    color: #f9f9f9;
    font-weight: bolder;
    font-family: 'BPG Banner Caps', sans-serif;
    text-align: center;
}

.section-two-title-last {
    color: #b300ff;
}

.section-two-text {
    color: #8a8a8a;
    text-align: center;
}

.section-two-image img {
    width: 100%;
}

.section-two-nav-title {
    font-size: 1rem;
    color: #f9f9f9;
    font-weight: bolder;
    font-family: 'BPG Banner Caps', sans-serif;
}

.section-two-nav-text {
    color: #8a8a8a;
}

/* Section three */
.section-three {
    padding: 3rem;
}

/* Buttons */
.btn {
    font-family: 'BPG Banner Caps', sans-serif;
    font-size: 0.8rem;
    font-weight: bolder;
    border-radius: .2rem;
}

.btn-indigo {
    color: #8a8a8a;
    background-color: #f9f9f9;
    border-color: #dedede;
}
  
.btn-indigo:hover {
    color: #e3e3e3;
    background-color: #7000a0;
    border-color: #7000a0;
}
  
.btn-indigo:focus, .btn-indigo.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.15);
}
  
.btn-indigo.disabled, .btn-indigo:disabled {
    color: #8a8a8a;
    background-color: #f9f9f9;
    border-color: #dedede;
}
  
.btn-indigo:not(:disabled):not(.disabled):active, .btn-indigo:not(:disabled):not(.disabled).active,
.show > .btn-indigo.dropdown-toggle {
    color: #e3e3e3;
    background-color: #7000a0;
    border-color: #7000a0;
}
  
.btn-indigo:not(:disabled):not(.disabled):active:focus, .btn-indigo:not(:disabled):not(.disabled).active:focus,
  .show > .btn-indigo.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(111, 104, 242, 0.5);
}

/* Background colors */
.bg-indigo {
    background-color: #7000a0;
}

/* Font colors */
.text-indigo {
    color: #7000a0;
}
.text-indigo-light {
    color: #b300ff;
}