@import '../css/fonts.css';

body {
    font-family: 'BPG Arial', sans-serif;
}

header {
    position: relative;
    background-image: url('../images/header-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/* Header */
.header-navbar {
    position: absolute;
    width: 100%;
    bottom: 0;
    border-bottom: 1px solid #dedede;
}

.bg-navbar {
    background-color: #f9f9f9;
}

.navbar-nav .nav-item {
    margin-right: 1rem;
}

.nav-link {
    padding: .4rem 1rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .8rem;
    padding-left: .8rem;
}

.navbar-nav .nav-link {
    font-family: 'BPG Banner Caps', sans-serif;
}

.navbar-light .navbar-nav .nav-item>.nav-link {
    color: #606060;
    font-size: 0.9rem;
    font-weight: bolder;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #e4e4e4;
}

.navbar-nav .active {
    background-color: #6610f2;
    border-radius: .2rem;
}

.navbar-nav .nav-item:hover .nav-link,
.navbar-nav .nav-item:focus .nav-link,
.navbar-nav .nav-item:active .nav-link {
    background-color: #6610f2;
    border-radius: .2rem;
    color: #e4e4e4;
    transition: all ease-in-out .4s;
}

/* Section one */
.section-one-title {
    font-weight: bolder;
    font-family: 'BPG Banner Caps', sans-serif;
    text-align: center;
}

.section-one-title-last {
    color: #6610f2;
}

.section-one-text {
    text-align: center;
}

.section-one-text::first-letter {
    font-size: 1.25rem;
    font-family: 'BPG Banner Caps', sans-serif;
}